@keyframes slide-right {
    0% {margin-right: 200%;}
    100% {margin-right: 0;}
}
@keyframes slide-left {
    0% {margin-left: 200%;}
    100% {margin-left: 0;}
}
@keyframes fade-out{
    0% {opacity: 0;}
    100% {opacity: 100%}
}
@keyframes going-down{
    from {top: -50%}
    to {top: 120%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes going-down-chips{
    from {top: -50%}
    to {top: 200%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes going-up-chips{
    from {bottom: -50%}
    to {bottom: 200%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-out-chipset{
    0%{left: -20%}
    100%{left: 1%}
}
@keyframes roll-out-bet-500{
    0%{left: 1%}
    100%{left: 47%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-back-bet-500{
    0%{left: 47%}
    100%{left: 1%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-out-bet-100{
    0%{left: 1%; top: 33%;}
    100%{left: 42%; top: 33%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-back-bet-100{
    0%{left: 42%; top: 33%}
    100%{left: 1%; top: 33%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-out-bet-10{
    0%{left: 1%; top: 55%}
    100%{left: 37%; top: 55%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-back-bet-10{
    0%{left: 37%; top: 55%}
    100%{left: 1%; top: 55%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-out-bet-1{
    0%{left: 1%; top: 77.5%}
    100%{left: 32%; top: 77.5%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-back-bet-1{
    0%{left: 32%; top: 77.5%}
    100%{left: 1%; top: 77.5%}
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes roll-out-arrows{
    0%{left: -60%}
    100%{left: 15%}
}
@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes mask-down{
    from {top: 0;}
    to {top: 120%}
}
@keyframes flash-left{
    from {left: 50%}
    to {left: 48%;}
}
@keyframes flash-right{
    from {left: 50%}
    to {left: 52%;}
}
@keyframes fixed-slide-left{
    from {right: 30%;}
    to {right: 200%}
}
@keyframes fixed-slide-right{
    from {left: 60%;}
    to {left: 200%}
}
@keyframes decor-animation{
    from {opacity: 100%; left: 60%;}
    to {opacity: 100%; left: 200%;}
}
@keyframes appear{
    from {opacity: 0%}
    to {opacity: 100%}
}
@keyframes stars-appear{
    from {opacity: 0%}
    to {opacity: 25%}
}
@keyframes scale{
    from {transform: scale(1.0); opacity: 50%;}
    to {transform: scale(2.0); opacity: 0%;}
}
@keyframes hud-slide-left{
    from {width: 0%; left: -10%}
    to {width: 20%; left: 0;}
}
@keyframes hud-slide-down{
    0% {top: 0%; opacity: 100%;}
    90% {opacity: 100%}
    100% {top: 10%; opacity: 0%}
}
@keyframes deal-popup{
    from {bottom: -40%}
    to {bottom: -5%}
}
@keyframes step-move-one {
    to {top: -100%; -webkit-transform: rotate(360deg); transform:rotate(360deg);}
}
@keyframes step-move-one2 {
    to {bottom: -100%; -webkit-transform: rotate(360deg); transform:rotate(-360deg);}
}
@keyframes transition{
    from {transform: scale(0)}
    to {transform: scale(600)}
}
@keyframes counters{
    from {left: -100%;}
    to {left: 0;}
}

@keyframes game-buttons{
    from {right: -100%}
    to {right: 0}
}